<div class="ui vertical menu">
  <div class="item">
    <div class="header">班级管理</div>
    <div class="menu">
      <a class="item" [routerLink]="['./gradeadmin']">年级管理</a>
      <a class="item" [routerLink]="['./classadmin']">班别管理</a>
      <a class="item" [routerLink]="['./studentadmin']">学生管理</a>
    </div>
  </div>
  <div class="item">
    <div class="header">试卷管理</div>
    <div class="menu">
      <a class="item">Rails</a>
      <a class="item">Python</a>
      <a class="item">PHP</a>
    </div>
  </div>
  <div class="item">
    <div class="header">成绩管理</div>
    <div class="menu">
      <a class="item">Shared</a>
      <a class="item">Dedicated</a>
    </div>
  </div>
  <div class="item">
    <div class="header">分析报表</div>
    <div class="menu">
      <a class="item">E-mail Support</a>
      <a class="item">FAQs</a>
    </div>
  </div>
  <div class="item">
    <div class="header">系统管理</div>
    <div class="menu">
      <a class="item">用户管理</a>
      <a class="item">权限管理</a>
    </div>
  </div>
</div>
